@keyframes fly-in-right {
  from {
    opacity: 0.8;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@theme {
  --animate-fly-in-right: fly-in-right 150ms ease-out;
  --animate-fly-out-right: fly-in-right 150ms ease-in reverse;
}
