<app-page variant="table">
  <div class="distr-table-panel">
    @if (customerOrganizations()?.[0]; as firstCustomer) {
      <nav class="flex justify-between items-center m-4">
        <div class="inline-flex items-center text-sm font-medium text-gray-700 dark:text-gray-400">
          <fa-icon class="mr-2" [icon]="faAsterisk" />
          Organization Secrets
        </div>
        <a
          [routerLink]="['/', 'customers', firstCustomer.id, 'secrets']"
          class="inline-flex items-center whitespace-nowrap py-2 text-sm font-medium text-primary-600 hover:text-primary-700 hover:underline dark:text-primary-500 dark:hover:text-primary-400">
          Show customer secrets
          <fa-icon [icon]="faArrowRight" class="ml-2" />
        </a>
      </nav>
    }

    <app-secrets [secrets]="secrets() ?? []" (refresh)="refresh$.next()" />
  </div>
</app-page>
