<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {{ template "fragments/style.html" }}
  </head>
  <body>
    <div class="message-container">
      {{ template "fragments/header.html" . }}
      <main>
        {{template "fragments/greeting.html" . }}

        <p>
          {{ if .InvitingUser.Name }}{{ .InvitingUser.Name }}{{ else }}{{ .InvitingUser.Email }}{{ end }} invited you to
          the <strong>{{.TargetOrgName}}</strong> organization on <a href="{{.Host}}/">{{.Host}}</a>.
        </p>

        {{ if .InviteURL }}
        <p>
          Since you don't have an account yet, please finish your setup by clicking
          <a href="{{ .InviteURL | UnsafeURL }}">here</a>.
        </p>
        {{ else }}
        <p>Log in with your existing account at <a href="{{ .Host }}/">{{ .Host }}</a>.</p>
        {{ end }}

        <p>{{template "fragments/signature.html" . }}</p>
      </main>
      {{template "fragments/footer.html" . }}
    </div>
  </body>
</html>
