<app-page variant="narrow">
  @if (tutorialsService.allCompleted$ | async) {
    <app-alert type="success" heading="Congratulations!" class="mb-4">
      You have successfully completed all the tutorials.
    </app-alert>
  } @else {
    <app-alert type="info" heading="Welcome to Distr!" class="mb-4">
      <p class="mt-2">
        Distr helps you to distribute your software to self-managed and BYOC environments with minimal setup.
      </p>
      <p class="mt-2">
        For fully self-managed deployments you can use the Artifact Registry to distribute your OCI artifacts (Docker
        Images, Helm Charts, etc).<br />
        You will be able to see the pull history in the Downloads section of the Registry which customer has downloaded
        which version of your images.<br />
        Get started with the Artifact Registry tutorial.
      </p>
      <p class="mt-2">
        For all BYOC and assisted self-managed use-cases, you can use the Distr controllers to manage the deployment in
        their infrastructure.
      </p>
    </app-alert>
  }

  <div class="distr-table-panel">
    <div class="overflow-x-auto">
      <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
        @for (tutorial of tutorialsService.tutorialsProgress$ | async; track tutorial.id) {
          <li class="py-3 px-6 sm:py-4">
            <div class="flex items-center">
              <div class="shrink-0 text-gray-900 dark:text-white">
                <fa-icon class="text-xl inline-block h-5 w-5" [icon]="tutorial.icon" />
              </div>
              <div class="flex-1 min-w-0 ms-4">
                <a
                  class="font-medium text-gray-900 truncate dark:text-white hover:underline hover:text-blue-600 dark:hover:text-blue-500"
                  [routerLink]="
                    tutorial?.progress?.completedAt ? tutorial.completedRoute : ['/', 'tutorials', tutorial.id]
                  ">
                  {{ tutorial.name }}
                </a>
                @if (tutorial?.progress?.createdAt && !tutorial?.progress?.completedAt) {
                  <span class="ml-4 me-2 distr-badge">In Progress</span>
                } @else if (tutorial?.progress?.completedAt) {
                  <span class="ml-4 distr-badge distr-badge-success">
                    <fa-icon [icon]="faCircleCheck" />
                    Completed
                  </span>
                }
                <div class="text-xs text-gray-500 dark:text-gray-400 mt-1">
                  {{ tutorial.description }}
                </div>
                <div></div>
              </div>
              <div class="flex justify-stretch sm:justify-end space-x-2.5">
                @if (tutorial?.progress?.completedAt) {
                  <a
                    [routerLink]="tutorial.completedRoute"
                    class="flex-1 sm:flex-none inline-flex items-center justify-center text-white distr-btn-primary">
                    View
                    <fa-icon class="ml-2" [icon]="faArrowRight" />
                  </a>
                } @else {
                  <a
                    [routerLink]="['/', 'tutorials', tutorial.id]"
                    class="flex-1 sm:flex-none inline-flex items-center justify-center text-white distr-btn-primary">
                    @if (tutorial?.progress?.createdAt) {
                      Resume Tutorial
                    } @else {
                      Start Tutorial
                    }
                    <fa-icon class="ml-2" [icon]="faArrowRight" />
                  </a>
                }
              </div>
            </div>
          </li>
        }
      </ul>
    </div>
  </div>
</app-page>
